@font-face {
    font-family: 'Pretendard Variable';
    src: url('/static/font/pretendard-variable/Pretendard-Black.otf') format('opentype');
    font-weight: 1 1000;  /* 가변 폰트이므로 가중치 범위를 설정 */
    font-display: swap;    /* 폰트가 로드될 때 시스템 폰트로 대체 표시 */
}

body {
    font-family: 'Pretendard Variable', Inter, sans-serif;
}

a {
    text-decoration: none;
}

.simply-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

textarea {
    width: 100%;
    resize: none;
}

.content-area {
    min-height: 300px;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    max-width: 150px;
}

.header {
    background-color: #2F417F !important;
    color: #FFFFFF;
}

.footer {
    margin-top: 50px;
    padding: 20px 8px 50px;
    background-color: #2F417F !important;
    color: #FFFFFF;
}

.bg-search {
    background-image: url("../image/lake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh; /* 화면의 전체 높이를 차지하도록 설정 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 정렬: 가운데 */
    align-items: center; /* 세로 정렬: 가운데 */
    text-align: center;
    padding: 0; /* 패딩을 0으로 설정하여 입력창이 정확히 가운데 오도록 함 */
}

.search-wrapper {
    position: relative;
    width: 80%; /* 부모 요소의 너비의 80%를 차지하게 설정 */
    max-width: 600px; /* 최대 너비 제한 (선택 사항) */
    margin: 0 auto; /* 가운데 정렬 */
}

.search-input {
    width: 100%; /* 부모 요소(.search-wrapper)의 너비에 맞춤 */
    padding: 12px 50px 12px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 18px;
    height: 50px;
    outline: none;
}


.search-button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../image/rens.png') no-repeat center white;
    background-size: contain;
    border: none;
    cursor: pointer;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

th.div:hover {
    cursor: pointer;
}

/* main.css 파일에 추가 */
a {
    color: black;
    text-decoration: none; /* 밑줄 제거 (원하는 경우) */
}

a:hover {
    color: black; /* 마우스 오버 시에도 검정색 유지 */
    text-decoration: none;
}

th {
    color: black;
    text-decoration: none; /* 밑줄 제거 (원하는 경우) */
}

th:hover {
    cursor: pointer;
    color: black; /* 마우스 오버 시에도 검정색 유지 */
    text-decoration: underline; /* 마우스 오버 시 밑줄 추가 (원하는 경우) */
}

.login-btn img {
    max-width: 150px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.about-list {
    padding: 0;
    list-style-type: none;
}
.about-list-item {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.about-list-item.active {
    background-color: #343a40;
    color: white;
}
.about-list-item:hover {
    background-color: #e9ecef;
}

@media (max-width: 576px) {
    .about {
        order: -1; /* 가장 위로 이동 */
        width: 100%;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.quote-content {
    white-space: pre-line;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: inline-block;
    padding: 10px 15px;
    background-color: #343a40;
    color: white;
    border: 1px solid #343a40;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #EE7F00;
}

.page-item.active .page-link {
    background-color: #EE7F00;
    border-color: #EE7F00;
    cursor: pointer;
}

.page-item.disabled .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
    pointer-events: none;
}